@import '../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 2rem;
  margin: 1rem auto;
  max-width: 120rem;

  &__star {
    font-size: 3rem;
    color: $star-color-active;
  }
}
