@import '../variables.scss';

.calc-btn {
  position: relative;
  margin: 0.75rem;
  border: 2px solid $grey-pretty-light;
  border-radius: 5px;
  width: 15rem;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1px;

  &:hover {
    border-color: transparent;
    @include neu-shadow;
  }

  &:active {
    @include neu-shadow-inset;
  }

  &__btn {
    cursor: pointer;
    width: 100%;
    padding: 1.2rem;
    border: none;
    outline: none;
    font-size: $font-lg;
    font-family: inherit;
    background-color: transparent;

    &:focus-visible {
      color: $red;
    }
  }

  &--ctrl {
  }

  &--reset {
    color: $red;
    border-color: $red;
  }

  &__uses-left {
    position: absolute;
    left: 50%;
    bottom: 0;
    line-height: 0;
    font-size: $font-sm;
    color: $red;
    transform: translate(-50%, 50%);
    background-color: red;

    &--infinity {
      display: none;
    }
  }
}
