@import '../variables.scss';

.calc-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0.75rem;
  width: 12rem;
  padding: 1rem;
  border: 2px solid $grey-pretty-light;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  text-align: center;

  &:hover,
  &:focus-visible {
    border-color: transparent;
    @include neu-shadow;
  }

  &:active {
    @include neu-shadow-inset;
  }

  &__text {
    font-size: 3rem;
  }

  &__uses-left {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 2rem;
    line-height: 1;

    &--infinity {
      display: none;
    }
  }
}
