@import '../variables.scss';

.goal-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;
  width: 10rem;
}

.goal-desc {
  text-align: center;
  font-size: 4rem;
  line-height: 1;
}

.star-icon {
  margin: 0 3px;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  color: $grey-light;
}

.star-success {
  color: $star-color-active;
}
