@import '../variables.scss';

.calc {
  display: block;
  margin: 0 auto;
  max-width: 60rem;

  &__above,
  &__below {
    display: flex;
    align-items: center;
  }

  &__above {
    justify-content: center;
    font-size: $font-md;
  }

  &__below {
    justify-content: space-between;
    font-size: $font-xs;
  }

  &__body {
    padding: 3rem;
    margin: 1rem 0;
    // border: 2px solid black;
    // border-radius: 10px;
    @include neu-shadow;

    @media only screen and (max-width: 800px) {
      box-shadow: none;
      margin: 0;
      padding: 1rem;
    }
  }

  &__screen {
    padding: 1rem;
    border: 1px solid black;
    background-color: lightgray;
    font-size: 6rem;
    text-align: right;
  }

  &__meta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-lg;
  }

  &__target,
  &__moves {
    margin: 1rem 2rem;
  }

  &__functions,
  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }
}
