@import '../variables.scss';

.success-modal {
  padding: 3rem;

  &__container {
    border-radius: 5px;
  }

  &__close-btn {
    &:focus,
    &:hover {
      fill: $red;
      outline: none;
    }
  }

  &__title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
  }

  &__body {
    text-align: center;
    font-size: 1.8rem;
  }

  &__msg {
    margin: 3rem 0;
  }

  &__goals {
    justify-content: center;
  }

  &__btn {
    font-family: inherit;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background-color: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3rem;
    cursor: pointer;

    &:hover,
    &:focus {
      color: white;
      background-color: black;
    }
  }
}
