@import '../variables.scss';

.target-modal {
  padding: 3rem;

  &__container {
    border-radius: 5px;
  }

  &__close-btn {
    &:focus,
    &:hover {
      fill: $red;
      outline: none;
    }
  }

  &__title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
  }

  &__body {
    text-align: center;
    font-size: 1.8rem;
  }

  &__msg {
    margin: 3rem 0;
  }
}
